<img class="big-image"
     ng-src="images/{{ gallery.id }}/{{ mainThumbnail }}">

<div class="gallery">
    <div class="arrow-left"
         ng-click="scrollLeft()"
         ng-class="{ 'arrow-left-hidden' : images.length <= 3}">
    </div>
    <div class="thumbnails">
        <img ng-repeat="thumbnail in visibleThumbnails"
             class="thumbnail" ng-src="images/{{ gallery.id }}/{{ thumbnail }}"
             ng-click="setMainThumbnail(thumbnail)">
    </div>
    <div class="arrow-right"
         ng-click="scrollRight()"
         ng-class="{ 'arrow-right-hidden' : images.length <= 3}">
    </div>
</div>