<div class="product-item-container">
    <div class="product-item">

        <div gallery-carousel="gallery"></div>

        <div class="product-title"
             title="{{ product.title }}">
            {{ product.title }}
        </div>

        <div class="product-description">
            <div class="clipped">
                {{ product.description }}
            </div>
            <div class="bottom-gradient"></div>
        </div>

        <div class="buttons">
            <div class="quantity">
                <div quantity-control="product"
                     on-increase-quantity="increaseQuantity()"
                     on-decrease-quantity="decreaseQuantity()"
                     quantity="quantity"
                     is-disabled="!availableQuantity">
                </div>
            </div>
            <div class="buy-button" ng-class="{ 'disabled' : !availableQuantity }"
                 ng-click="addProductToBasket(product.id, quantity)">
                <div class="product-price">
                    {{ product.price | price }}
                </div>
            </div>
        </div>
    </div>
</div>